---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Sobre mim";

const identity = {
	firstName: "Alisson",
	country: "Brazil",
	occupation: "Developer",
	hobbies: ["Play games", "Gym", "Watch series"],
};

const skills = ["Typescript", "Python", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout>
	<h1>{pageTitle}</h1>
	<h2>... e meu novo site Astro!</h2>

	<p>Tou testando isso aqui</p>

	<p>Ele vai se modificar enquanto vou mexendo no tutorial dele</p>

	<p>Aqui vai algumas coisas minhas:</p>
	<ul>
		<li>Meu nome é {identity.firstName}.</li>
		<li>
			Eu moro no {identity.country} e trabalho como {identity.occupation}.
		</li>
		{
			identity.hobbies.length >= 2 && (
				<li>
					Dois dos meus hobbies são: {identity.hobbies[0]} e{" "}
					{identity.hobbies[1]}
				</li>
			)
		}
	</ul>

	<p>Minhas skills são:</p>
	<ul>
		{skills.map((skill) => <li class="skill">{skill}</li>)}
	</ul>

	{happy && <p>I am happy to be learning Astro!</p>}

	{finished && <p>I finished this tutorial!</p>}

	{
		goal === 3 ? (
			<p>My goal is to finish in 3 days.</p>
		) : (
			<p>My goal is not 3 days.</p>
		)
	}
</BaseLayout>
